<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mypopupwindow"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="16" />

    <application
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/x_app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:name="com.example.mypopupwindow.MyPopupWindow"
            android:label="@string/x_app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            </intent-filter>
        </activity>
        <activity 
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:name="com.example.mypopupwindow.VideoActivity"
            android:label="@string/x_video_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>            
        </activity>
        <activity 
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:name="com.example.mypopupwindow.MediaPlayerVideo"
            android:label="@string/x_video_name">
        </activity>
    </application>

</manifest>